* {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;

}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{

  background-color: rgb(162, 239, 54);
  padding: 10px;
  border: none;
  border-radius: 30%;
  width: 80%;
  cursor: pointer;
  color: white;
  margin: 20px;

}

h1{

  text-align: center;
}

nav{

  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

a{

  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{

  color: rgb(136, 136, 136);
} 
.favoritos-card {

  background-color: orange;
  border: 2px solid black;
  margin-top: 20px;
}

footer {

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{

  width: 200px;
  margin: 0;
}
footer > p{

  margin: 0;
  padding-top: 0.7rem;
}

form{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{

  /* background-image: url("../public/images/doctor.jpg");
  background-size: contain; */
  /* height: 400px; */
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  margin-top: 30px;
  margin: 20px;
  
  /* background-color: aqua; */
}

.card:hover{

  border: 1.5px solid rgb(0, 0, 0);
}

.card-grid{

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {

 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {

  background-color: #dddddd;
}
.detalles{

  width: 100%;
  background-color: aqua;
}

/* .dark{

  background-color: #12121296;
  color: white;
}
.dark > a {

  color: white;
} */